<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MASngFE.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ProductionServer" value="TS2\TECSER"/>
    <add key="logfilelocation" value="abc.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Mode" value="D"/>
  </appSettings>
  <connectionStrings>
    <add name="TecserData" connectionString="metadata=res://*/TecserModel.csdl|res://*/TecserModel.ssdl|res://*/TecserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDREWS0;initial catalog=MADB;persist security info=True;user id=sa;password=Andrews555;Connection Timeout=3000000;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TecserDataS" connectionString="metadata=res://*/EDMX.TSSecurity.TsSecurityModel.csdl|res://*/EDMX.TSSecurity.TsSecurityModel.ssdl|res://*/EDMX.TSSecurity.TsSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDREWS0;initial catalog=MADB;persist security info=True;user id=sa;password=Andrews555;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TecserData_" connectionString="metadata=res://*/TecserModel.csdl|res://*/TecserModel.ssdl|res://*/TecserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TS2\TECSER;Initial Catalog=MADB;Persist Security Info=True;User ID=sa;Password=andrews555;Connection Timeout=3000000;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TecserDataS_" connectionString="metadata=res://*/EDMX.TSSecurity.TsSecurityModel.csdl|res://*/EDMX.TSSecurity.TsSecurityModel.ssdl|res://*/EDMX.TSSecurity.TsSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TS2\TECSER;Initial Catalog=MADB;Persist Security Info=True;User ID=sa;Password=andrews555;Connection Timeout=3000000;MultipleActiveResultSets=True;App=EntityFramewor&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MASngFE.Properties.Settings.MADBConnectionString"
      connectionString="Data Source=ANDREWS;Initial Catalog=MADB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="MASngFE.Properties.Settings.MADBConnectionString1"
      connectionString="Data Source=ANDREWS2;Initial Catalog=MADB;Persist Security Info=True;User ID=sa;Password=Andrews555;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="MASngFE.Properties.Settings.MADBConnectionString2"
      connectionString="Data Source=TS2;Initial Catalog=MADB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly></dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MASngFE.Properties.Settings>
      <setting name="AppVersion" serializeAs="String">
        <value>6.220118a</value>
      </setting>
      <setting name="AppMode" serializeAs="String">
        <value>G</value>
      </setting>
    </MASngFE.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
